:javascript
  $(document).ready(function() {
  
    $("form#shurl").submit(function(event) {
      event.preventDefault();
      $("textarea#short").html(null);
      $.each($("textarea#long").val().split("\n"), function(index,url) {
        $.ajax({
          type: 'POST',
          url: "/admin/shurls",
          data: form = {long: url},
          async: false,
          success: function(data) { $("textarea#short").append(location.protocol + 
            "//" + location.host + "/" + data.shurl.short + "\n"); },
          error: function(response) { $("textarea#short").append(response.responseText + "\n"); }
        });
      });
    });
    
    $("button#show").click(function() {
      load_shurls(true);
      $(this).hide();
    });
    
    function load_shurls(show) {
      $.ajax({
        type: 'GET',
        url: "/admin/shurls",
        success: function(data) { 
          $("table#shurl-list").data('shurls', data);
          if (show == true) { show_shurls(); }
        },
        error: function(response) { 
          $(document.createElement('div')).html('Could not load data').insertAfter("table#shurl-list");
        }
      });
    }
    
    function show_shurls() {
      data = $("table#shurl-list").data('shurls');
      $.each(data, function(index, s) {
        $("table#shurl-list").append(
          $(document.createElement('tr')).append(
            $(document.createElement('td')).html(s.shurl.long),
            $(document.createElement('td')).html(s.shurl.short),
            $(document.createElement('td')).html(s.shurl.request_count),
            $(document.createElement('td')).html(s.shurl.last_request_at)
          )
        );
      });
    }
  });

%form#shurl
  %div#input-left
    %div
      %label URL
    %textarea#long{:name => 'long'}
  %div#input-right
    %div
      %label Result
    %textarea#short{:name => 'short', :readonly => true}
  %input#add{:type => 'submit', :name => 'add', :value => 'Add'}
  %input#reset{:type => 'reset'}

%table#shurl-list
  %tr
    %th URL
    %th Short
    %th Request count
    %th Last requested
%div#show
  %button#show Show URLs