:javascript
  $(document).ready(function() {
    $("#shurl").submit(function(event) {
      event.preventDefault();
      $("textarea#short").html(null);
      $.each($("textarea#long").val().split("\n"), function(index,url) {
        $.ajax({
          type: 'POST',
          url: "/admin/shurl",
          data: form = {long: url},
          async: false,
          success: function(data) { $("textarea#short").append(location.protocol + 
            "//" + location.host + "/" + data.shurl.short + "\n"); },
          error: function(response) { $("textarea#short").append(response.responseText + "\n"); }
        });
      });
    });
  });

%form#shurl
  %div#input-left
    %div
      %label URI
    %textarea#long{:name => 'long'}
  %div#input-right
    %div
      %label Short
    %textarea#short{:name => 'short', :readonly => true}
  %input#add{:type => 'submit', :name => 'add', :value => 'Add'}
  %input#reset{:type => 'reset'}
  /%img#ajax-status{:src => '/images/ajax-loader-small.gif', :style => 'display: none;'}

%table
  %tr
    %th URI
    %th Short
    %th Request count
    %th Last requested
  - @urls.each do |url|
    %tr
      %td= url.long
      %td= url.short
      %td= url.request_count
      %td= url.last_request_at