%form#shurl
  %fieldset
    %div#input-left
      %div
        %label URL
      %textarea#long{:name => 'long'}
    %div#input-right
      %div
        %label Result
      %textarea#short{:name => 'short', :readonly => true}
    .form-actions
      %input#add.btn-primary{:type => 'submit', :name => 'add', :value => 'Add'}
      %input#reset.btn{:type => 'reset'}

%table#shurl-list
  %thead
    %tr
      %th.long URL
      %th.short Short
      %th.request-count Request count
      %th.last-request-at Last requested
  %tbody
    %tr
      %td#javascript-message{:colspan => 4} JavaScript is required to see data