guard 'process', :name => 'rackup', :command => 'rackup -p 3002 -s thin' do
  watch('Gemfile.lock')
end

guard 'rspec', :cli => '--color --format nested' do
  watch(%r{^spec/.+_spec\.rb$})
  watch(%r{^lib/(.+)\.rb$})               { |m| "spec/lib/#{m[1]}_spec.rb" }
  watch('spec/spec_helper.rb')            { "spec" }
  watch(%r{^(.+)\.rb$})                   { |m| "spec/#{m[1]}_spec.rb" }
  watch(%r{^spec/support/(.+)\.rb$})      { "spec" }

  # Capybara request specs
  watch(%r{^views/(.+)/.*\.(erb|haml)$})  { |m| "spec/requests/#{m[1]}_spec.rb" }
end

