%html

  %head
    %meta{'http-equiv' =>'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{:href => '/stylesheets/screen.css', :rel => 'stylesheet', :type =>'text/css'}
    /[if lt IE 9]
      %link{:href => '/stylesheets/ie.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => '/javascripts/vendor/jquery-1.6.min.js', :type => 'text/javascript'}
    %title Shurly
    /...you can't be serious
    /I am serious... and don't call me Shirley.

  %body
    #wrapper
      #header
        %img#amc-logo{:src => "/images/amc-logo.png", :alt => "Australian Medical Council"}

      #main
        = yield

      #footer
        = "&copy; #{Date.today.year} Australian Medical Council"