%html

  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    %title Shurly

  %body
    #wrapper-outer
      #wrapper-inner
        #container
          #header
            %h1#title Shurly
            /...you can't be serious
            /I am serious... and don't call me Shirley.

          #content
            = yield

          #footer
            = "&copy; #{Date.today.year} Australian Medical Council"