form#shurl {
  margin-bottom: 50px;
  textarea {
    width: 458px;
    height: 200px;
  }
  #input-left {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
  }
  #input-right {
    margin-bottom: 20px;
  }
}
